/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/09/2014, 7:54:19 PM
    Author     : Tyler 2
*/

* {
/*     border: 1px solid red; */
}

.wrapper {
    width:100%;
    margin: 0 auto;
}

    .wrapper .header {
        height:100px;
        background-color:#C2D8EC;
        border-bottom: 20px solid #007788;
        border-radius: 0px 0px 50px 0px;
        padding: 10px 10px;
        margin-bottom: 10px;
    }
    
    .wrapper .header img {
    	height: 60px;
    	margin: 0 auto;
    }
    
    .wrapper .header .headerNav {
    	margin: 0 20%;
    	width: 60%;
    }

    .wrapper .main {
    	margin: 10px;
    }
    
    .wrapper .main .login-form {
    	display:inline-block;
    	margin: 0 33%;
    	width:33%;
    }

    .wrapper .footer {
        margin: 10px;
        clear: both;
        height:100px;
        line-height: 100px;
    }

    .wrapper .details {
        height:100px;
    }
            
        .wrapper .details .image {
            width:100px;
            height:100px;
        }
        
        .wrapper .details .image img {
        	width: 100px;
        }

        .wrapper .details .aboutMe {
        	float: right;
        }
            
    .wrapper .researchGroups {
        clear:both;
        height: 100px;
        background-color: pink;
    }